@import "tailwindcss";
/* Reset body & HTML to prevent scrollbars and layout shifts */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  
}

@theme
{
  --color-deep-purple: oklch(0.2076 0.0464 310.87);
  --color-light-purple: oklch(0.7341 0.1401 310.87);
}